
<h1>Homepage test</h1>

<%= link_to "All users", users_path %>
<%= link_to "All posts", posts_path %>
<%= link_to "Create account", new_user_path %>
<br>
<%= link_to "My profile", @user_path %>
<%= link_to "Create a post", new_post_path %>
<%# <%= link_to "Change your username", edit_user_path %> %>
<%# <%= link_to "Delete your account", user_path, method: :delete %> %>