
<h1>Read this</h1>

<%= @post.content %>
<%= by: "#{@post.user.username}" %>
<% pre_like = @post.likes.find { |like| like.user_id == @user[:id]} %>
<% if pre_like %>
  <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
<% else %>
  <%= button_to 'Like', post_likes_path(@post), method: :post %>
<% end %>
<br>
<%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%>